spring:
  application:
    name: booking-system

  datasource:
    url: jdbc:postgresql://localhost:5433/booking_db
    username: booking_user
    password: booking_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080